.app-container {
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.content-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.table-content {
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.table {
    width: 100%;
    background: white;
}

.thead-light th {
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 1020;
    text-align: center;
}



.group-search{
    align-items: center;
    gap: 10px;
    width: 100%;
}


.search-form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.search-input:focus {
    border-color: #007bff;
}

.search-button, .add-data-button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background 0.3s ease-in-out;
}

.search-button {
    background: #007bff;
    color: white;
}

.search-button:hover {
    background: #0056b3;
}

.add-data-button {
    background: #28a745;
    color: white;
    width: 15%;
    height: 75%;
    margin-left: 4px;
    /*margin-top: 9px;*/
}

.add-data-button:hover {
    background: #218838;
}


.table {
    background: white;
}
thead tr {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1020;
}

.thead-light th {
    background: #f8f9fa;
    text-align: center;
}

.global-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.spinner-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loading-text {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

@media (max-width: 480px) {

    .add-data-button{
        width: 50%;
    }
    .background-image {
        max-width: 100%;
    }

    .content-container {
        padding: 10px;
        border: 0;
        -webkit-overflow-scrolling: touch;
    }


    .add-data-button:hover {
        background: #218838;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app-container{
        padding: 0px;
    }
    .background-image{
        border-radius: 0px ;
    }

    .menu {
        padding: 10px;
        flex-direction: column;
    }
    .title-web {
        padding: 10px;
    }

    .search-form {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .search-input {

        min-width: 0;
    }
    .search-button{
        width: 30%;
    }
    .search-button, .add-data-button{
        white-space: nowrap;
    }
    .table th{
        word-break: break-word;

    }
    .table th:nth-child(4),
    .table td:nth-child(4) {
        min-width: 61px;
    }



}


